
header{
    padding: 0 12px;
    background-color:#283e4a;
}
.fixed-top{
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    height: 45px;
}
#navbarsExampleDefault{
    justify-content: center;
}
#main-container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.form-control {
    border-radius:2px;
    font-size :10px;
    line-height:1.3333;
    font-weight: 600;
    height: 25px;
    width: 216px;
    display: inline-block;
    margin: 10px 8px 10px 0;
    border:1px solid #b3b6b9;
    font-family: Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.btn-success{
    background-color: #283e4a;
    border-width: 0.5px;
    border-color: white;
    border-radius: 1px;
    box-sizing: border-box;
    margin: 30px 10px 30px 0;
    height: 25px;
    line-height: 0px;
    font-size: 13.5px;
    box-sizing: border-box;
}
.btn-success:hover {
    background-color: white;
    border-color:white;
    color: black;
    box-sizing: border-box;
}
.link-forgot-password{
    font-size: 10px;
    color:white;
    box-sizing: border-box;


}
.link-forgot-password:hover{
    color:white;
    font-weight: bold;

}
#main-container .reg-form .Title{
    font-size: 20px;
    line-height: 1.33333;
    font-weight: 3;
    color: rgba(0,0,0,0.9);
    margin-left: auto;
    margin-right: auto;
    flex: 100%;
    width: 350px;
    background: #F6F8FA;
    text-align: center;
    padding: 16px 32px 8px 32px;
    margin-bottom: 0px;
    
}
#main-container .reg-form .subTitle{
    
    font-size: 15px;
    line-height: 1.5;
    font-weight: 2;
    color: rgba(0,0,0,0.9);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 350px;
    background: #F6F8FA;
    text-align: center;
    padding: 0 8px 16px;
    margin-bottom: 0px;
  

}
h2{
        font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 2px;
    color: rgba(0,0,0,0.9);
}
.reg-form h3{
        font-size: 2.4rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    font:inherit;
}
.form-body{
    background:#EDF0F3;
    width: 350px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-end-end-radius:2px; 
    padding: 24px;
    margin-top: 0px;
    border:0px;
    font-size:13px;
    border-top-color:gray; 
}
#btn-registrar{
    width: 100%;
    background-color: #0073B1;
    box-sizing: border-box;
    color: white;
    border-radius: 2px;
    font-family:inherit;
    padding:0 16px;
    height: 30px;
    text-align: center;
    border:0px;
    margin-top: 7px;
    margin-bottom:-4px;
}
#btn-registrar:hover{
    background-color:#004b7c;
    color:white;

}
.form-body input{
    width: 100%;
    margin-bottom: 5px;


}
.form-body label{
    margin-bottom: 5px;
    font-weight: 3;
}
.acuerdo{
    color: gray;
    font-size: 9px;
    text-align: start;
    box-sizing: border-box;
}
.form-body a{
    color: gray;
    text-decoration: none;
}
.form-body a:Hover{
    color:#0073B1;
}
.meter{
background-color: #434649;
margin-top:20px;
color:white;
align-items: center;
}
.title{
    font-size: 11.5px;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    font-weight: 400;
    line-height: 15px;
    margin-right: 8px;
    margin:0;    
    display: inline;
}
.same-name-search{
padding: 15px 0px 10px 200px;
align-items:center;
background-color: #434649;
margin:auto;
justify-items: center;
justify-content: center;
width: 940px;
}
.same-name-search input[type="text"]{
    border-radius:2px;
    font-size: 11.5px;
    border:0px;
    height: 25px;
    width: 170px;
    box-sizing: border-box;

}
.same-name-search input[type="submit"]{
    background-color:transparent;
    border:0;
    border-width:0.5px;
    border-color: #757779;
    color:#757779;
    border-radius: 2px;
    cursor: not-allowed;
    padding: 0 16px;
    height: 25px;
    outline: 0px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.35);
    text-align: center;
    
}
.directory{
    justify-content: center;
    display: flex;
    align-items: center;
    height:45px;
    padding:0 12px;
    width: 940px;
    margin:auto;
    background-color: #434649;
}
.directory ol{
    font-size: 10px;;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    font-weight: 300;
    display: inline-block;
    list-style: none;
    padding: 2px 2px;
    margin-bottom: 0;
    
}
.directory .Title-directory{
    font-size: 10px;
    line-height: 1;
    font-weight: 200;
    color: rgba(255,255,255,0.85);
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    }
.directory li{
    padding-left: 5px;
    display: inline;

}
.directory li a{
    color:rgba(255,255,255,0.85); 
    font-weight:600;
}
.Links-container{
    font-size: 10px;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    padding: 0 0 30px;
    border-top: 1px solid rgba(255,255,255,0.15);
    background-color: #434649;
    margin: auto;
}
.Links-container h3{
    font-size: 11px;
    line-height: 1.33333;
    font-weight: 600;
    color: rgba(255,255,255,0.85);
    margin: 0px 0 8px 4px;
}
.Links-container .links{
    width: 48%;
    margin-right: 2%;
    margin-top: 30px;

}
.Links-container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
}
.Links-container li{
    padding-right: 5px;
    margin:2px 5px 0 0;
    border-right: 1px solid rgba(255,255,255,0.55)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}
.Links-container li a{
    text-decoration: none;
    background-color: transparent;
    border:0;
    font-weight: 400;
    padding: 0 4px;
    color:rgba(255,255,255,0.85);
}
.Links-container li a:Hover{
    font-weight: 700;
    color:white;
    text-decoration-line: underline;
}
ul{
    list-style: none;
    margin-bottom:0;
}
.legal-nav{
    display: flex;
    width: 940px;
    border-top: 1px solid rgba(255,255,255,0.15);
    padding: 3px 0px 8px 0px;
    font-size: 10px;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    background-color: #434649;
    margin: auto;
}
.legal-nav a:visited{
    color:rgba(255,255,255,0.85);
    font-weight: 500;
}
.legal-nav>ul{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 0 10px 5px;
}
.legal-nav a{
    color:rgba(255,255,255,0.85);
    background-color: transparent;
    font-weight: 500;
}
       
.legal-nav .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    color: rgba(255,255,255,0.85);

}
.legal-nav .copyright-logo{
        margin: -3px 5px 0 0;
        width: 56px;
        height: 14px;

}
.legal-nav>ul>li:first-child{
    margin: 0%;
}
.legal-nav>ul>li{
    margin:0 0 0 20px;
}
.lang-selector-container{
    position: relative;
}
#lang-selector-state{
    display: none;
}
#languageSelectorForm{
    display: none;
}
#lang-selector-state+label{
    font-size: 10px;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    font-weight: 600;
    padding-left: 0;
}
.lang-selector-state-label:focus{
    outline: thin dotted;
}
#lang-selector-state:checked ~ #languageSelectorForm{
    display: block;
}
.lang-selector-state-label:hover , .lang-selector-state-label:focus{
    text-decoration: underline;
    cursor: pointer;
}

.lang-selector-state-label{
    cursor: pointer;
    margin: 0;
}
.lang-selector{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 5px;
    min-width: 100px;
    border: 1px solid #0073b1;
    background: #fff;
    z-index: 1;
}

.lang-selector .current .lang-selector button {
    padding: 5px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
}
.lang-selector button{
    background: none;
    border: none;
    color: #0073b1;
    height: 20px;
    text-align: center;
}
.lang-selector button:hover{
    background-color: #0073b1;
    color:#fff;
}
.lang-selector li{
    margin:0;
    display: list-item;
}
.lang-selector .current, .lang-selector button{
    padding: 5px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
}
.lang-selector .current{
    color: #000;
    font-weight: bold;
}
input[type="checkbox"], input[type="radio"]{
    box-sizing: border-box;
    padding: 0;
}
#error{
    background-color: red;height: 40px;width: 350px;margin-left: auto;margin-right: auto;
   
}

#error label{
    color:#f9fdff;
    font-size: 0.95rem;
    margin-top: 10px;
    margin-left: 5px;
}